dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  dt {
    float: left;
    width: 40%;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  dt::after {
    content: " :";
  }

  dd {
    float: left;
    width: 60%;
    padding: 0;
    margin: 0;
  }
}
.card {
  width: 500px;
  margin: 50px auto;
  font-family: auto;
}
.user-profile-image {
  width: 150px;
  margin: 15px 145px;
  height: 50px;
}
.back-btn-block {
  display: flex;
  justify-content: center;
  margin: 20px;
  .btn {
    width: 120px;
  }
}
