<div class="home-page">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis
    velit a turpis vestibulum efficitur. Suspendisse vel libero nunc. Mauris
    pulvinar sapien at varius tempor. Ut nec metus vel nunc tincidunt interdum
    non ac lorem. Quisque consectetur tellus vitae semper eleifend. Integer
    faucibus arcu et sapien commodo dignissim. Aliquam sit amet dolor vel mauris
    iaculis posuere. Proin venenatis dolor ac elit varius, nec luctus nisi
    porta. Integer id aliquet nisl. Curabitur rhoncus luctus mauris, at lobortis
    risus efficitur in. Pellentesque venenatis libero vel quam venenatis
    dignissim.
  </p>
</div>
