.home-page {
  position: relative;
  background-image: url("../../../assets/image/sndklogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  height: 400px;
  width: 80%;
  margin: 50px auto;
  p {
    display: flex;
    justify-content: center;
    color: black;
    padding: 50px;
  }
}
