<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card signup-card">
        <div class="card-header">
          <h2 class="text-center">Profile detail</h2>
        </div>
        <div class="card-body">
          <div class="profile-block">
            <img *ngIf="profileImage" [src]="profileImage" />
            <img
              *ngIf="!profileImage && userDetails.profileImage"
              [src]="userDetails.profileImage"
            />
            <img
              *ngIf="!profileImage && !userDetails.profileImage"
              src="../assets/image/no-profile-picture-icon.png"
            />
            <input
              type="file"
              style="display: none"
              #fileInput
              (change)="onFileSelected(fileInput.files)"
            />
            <i class="fa fa-edit" (click)="fileInput.click()"></i>
          </div>
          <form [formGroup]="profileForm">
            <div class="form-group">
              <label for="firstName"
                >First Name<span class="text-danger font-weight-bold"
                  >*</span
                ></label
              >
              <input
                type="text"
                id="firstName"
                formControlName="firstName"
                class="form-control"
                minlength="3"
                maxlength="50"
                (keydown)="userService.disableSpace($event)"
              />
              <div
                *ngIf="
                  isSubmitted && fNameControl?.invalid && fNameControl?.touched
                "
              >
                <div
                  *ngIf="fNameControl?.errors?.['required']"
                  class="text-danger error-message"
                >
                  First name is required.
                </div>
                <div
                  *ngIf="fNameControl?.errors?.['minlength']"
                  class="text-danger error-message"
                >
                  First name should have atleast 3 characters.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName"
                >Last Name<span class="text-danger font-weight-bold"
                  >*</span
                ></label
              >
              <input
                type="text"
                id="lastName"
                formControlName="lastName"
                class="form-control"
                minlength="3"
                maxlength="50"
                (keydown)="userService.disableSpace($event)"
              />
              <div
                *ngIf="
                  isSubmitted && lNameControl?.invalid && lNameControl?.touched
                "
              >
                <div
                  *ngIf="lNameControl?.errors?.['required']"
                  class="text-danger error-message"
                >
                  Last name is required.
                </div>
                <div
                  *ngIf="lNameControl?.errors?.['minlength']"
                  class="text-danger error-message"
                >
                  Last name should have atleast 3 characters.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email"
                >Email<span class="text-danger font-weight-bold">*</span></label
              >
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                maxlength="100"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="email"
                >Status<span class="text-danger font-weight-bold"
                  >*</span
                ></label
              >
              <select formControlName="status" class="form-control">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
          </form>
          <div class="row">
            <div class="col-12 text-center">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="updateDetail()"
              >
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
