.navbar-nav {
  .nav-item {
    margin: 0px 10px;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    &.active {
      background: blue;
      border-radius: 10px;
    }
    &.login-btn {

    }

  }
}
